{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h3>Envio de Contato</h3>
        </div>
        
        <form action="" method="post" class="row mt-4"> 
            
            {{ form.hidden_tag() }} {% if form.errors %}
                <div class="alert alert-danger">
                    **Erro ao Enviar!** Por favor, corrija os campos destacados abaixo.
                </div>
            {% endif %}

            <div class="col-12 mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
                {% for error in form.nome.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-12 mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-12 mb-3">
                {{ form.assunto.label(class="form-label") }}
                {{ form.assunto(class="form-control") }}
            </div>

            <div class="col-12 mb-3">
                {{ form.mensagem.label(class="form-label") }}
                {{ form.mensagem(class="form-control", rows="5") }} 
                {% for error in form.mensagem.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="col-12 mt-3">
                {{ form.btnSubmit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}